body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: plum;
    padding: 20px;
    margin-bottom: 20px;
}

header h1, header h2 {
    margin: 0;
}

header nav a {
    display: block;
    background-color: rebeccapurple;
    color: white;
    width: 150px;
    float: left;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
}

main section, main aside {
    float: left;
}

main section {
    width: 70%;
}

main aside {
    width: 30%;
}
